{{#section 'bigTitle'}} BOUGHT DETAILS {{/section}}

<div class="container">
    <div class="row">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Product Name</th>
                        <th>Original Price</th>
                        <th>Discount</th>
                        <th>Paid Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>
                            <a href="http://www.mirchu.net/mobiles/apple-iphone-6/" target="_blank">Apple iphone 6</a>
                        </td>
                        <td>$899.00</td>
                        <td>
                            <span class="hightlight-discount">5%</span>
                        </td>
                        <td>$872.00</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>
                            <a href="http://www.mirchu.net/mobiles/lg-g3/" target="_blank">LG G3</a>
                        </td>
                        <td>$899.00</td>
                        <td>
                            <span class="hightlight-discount">20%</span>
                        </td>
                        <td>$445.00</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>
                            <a href="http://www.mirchu.net/mobiles/samsung-galaxy-s5/" target="_blank">Samsung Galaxy S5</a>
                        </td>
                        <td>$899.00</td>
                        <td>
                            <span class="hightlight-discount">15%</span>
                        </td>
                        <td>$689.00</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>