{{#section 'bigTitle'}}
    PROFILE PAGE
{{/section}}
<div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="single-sidebar">
                        <h2 class="sidebar-title">Products</h2>
                        <div class="thubmnail-recent">
                            <img src="img/product-thumb-1.jpg" class="recent-thumb" alt="">
                            <h2>
                                <a href="single-product.html">Sony Smart TV - 2015</a>
                            </h2>
                            <div class="product-sidebar-price">
                                <ins>$700.00</ins>
                                <del>$800.00</del>
                            </div>
                        </div>
                        <div class="thubmnail-recent">
                            <img src="img/product-thumb-1.jpg" class="recent-thumb" alt="">
                            <h2>
                                <a href="single-product.html">Sony Smart TV - 2015</a>
                            </h2>
                            <div class="product-sidebar-price">
                                <ins>$700.00</ins>
                                <del>$800.00</del>
                            </div>
                        </div>
                        <div class="thubmnail-recent">
                            <img src="img/product-thumb-1.jpg" class="recent-thumb" alt="">
                            <h2>
                                <a href="single-product.html">Sony Smart TV - 2015</a>
                            </h2>
                            <div class="product-sidebar-price">
                                <ins>$700.00</ins>
                                <del>$800.00</del>
                            </div>
                        </div>
                        <div class="thubmnail-recent">
                            <img src="img/product-thumb-1.jpg" class="recent-thumb" alt="">
                            <h2>
                                <a href="single-product.html">Sony Smart TV - 2015</a>
                            </h2>
                            <div class="product-sidebar-price">
                                <ins>$700.00</ins>
                                <del>$800.00</del>
                            </div>
                        </div>
                    </div>

                    <div class="single-sidebar">
                        <h2 class="sidebar-title">Recent Posts</h2>
                        <ul>
                            <li>
                                <a href="single-product.html">Sony Smart TV - 2015</a>
                            </li>
                            <li>
                                <a href="single-product.html">Sony Smart TV - 2015</a>
                            </li>
                            <li>
                                <a href="single-product.html">Sony Smart TV - 2015</a>
                            </li>
                            <li>
                                <a href="single-product.html">Sony Smart TV - 2015</a>
                            </li>
                            <li>
                                <a href="single-product.html">Sony Smart TV - 2015</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="product-content-right">
                        <div class="woocommerce">

                        </div>

                        <form id="login-form-wrap" class="login collapse" method="post">


                            <p>If you have shopped with us before, please enter your details in the boxes below. If you are
                                a new customer please proceed to the Billing &amp; Shipping section.</p>

                            <p class="form-row form-row-first">
                                <label for="username">Username or email
                                    <span class="required">*</span>
                                </label>
                                <input type="text" id="username" name="username" class="input-text">
                            </p>
                            <p class="form-row form-row-last">
                                <label for="password">Password
                                    <span class="required">*</span>
                                </label>
                                <input type="password" id="password" name="password" class="input-text">
                            </p>
                            <div class="clear"></div>


                            <p class="form-row">
                                <input type="submit" value="Login" name="login" class="button">
                                <label class="inline" for="rememberme">
                                    <input type="checkbox" value="forever" id="rememberme" name="rememberme"> Remember me </label>
                            </p>
                            <p class="lost_password">
                                <a href="#">Lost your password?</a>
                            </p>

                            <div class="clear"></div>
                        </form>



                        <form id="coupon-collapse-wrap" method="post" class="checkout_coupon collapse">

                            <p class="form-row form-row-first">
                                <input type="text" value="" id="coupon_code" placeholder="Coupon code" class="input-text" name="coupon_code">
                            </p>

                            <p class="form-row form-row-last">
                                <input type="submit" value="Apply Coupon" name="apply_coupon" class="button">
                            </p>

                            <div class="clear"></div>
                        </form>

                        <form enctype="multipart/form-data" action="#" class="checkout" method="post" name="checkout">

                            <div id="customer_details" class="col3-set">
                                
                                    <div class="woocommerce-billing-fields">
                                        <h3>Profile Details</h3>

                                        <p id="billing_first_name_field" class="form-row form-row-first validate-required">
                                            <label class="" for="billing_first_name">First Name
                                                <abbr title="required" class="required">*</abbr>
                                            </label>
                                            <input type="text" value="" placeholder="" id="billing_first_name" name="firstname" class="input-text ">
                                        </p>

                                        <p id="billing_last_name_field" class="form-row form-row-last validate-required">
                                            <label class="" for="billing_last_name">Last Name
                                                <abbr title="required" class="required">*</abbr>
                                            </label>
                                            <input type="text" value="" placeholder="" id="billing_last_name" name="lastname" class="input-text ">
                                        </p>
                                        <div class="clear"></div>

                                        <p id="billing_address_1_field" class="form-row form-row-wide address-field validate-required">
                                            <label class="" for="billing_address_1">Address
                                                <abbr title="required" class="required">*</abbr>
                                            </label>
                                            <input type="text" value="" placeholder="Street address" id="billing_address_1" name="billing_address_1" class="input-text ">
                                        </p>

                                        <p id="billing_city_field" class="form-row form-row-wide address-field validate-required" data-o_class="form-row form-row-wide address-field validate-required">
                                            <label class="" for="billing_city">Town / City
                                                <abbr title="required" class="required">*</abbr>
                                            </label>
                                            <input type="text" value="" placeholder="Town / City" id="billing_city" name="billing_city" class="input-text ">
                                        </p>

                                        <p id="billing_state_field" class="form-row form-row-first address-field validate-state" data-o_class="form-row form-row-first address-field validate-state">
                                            <label class="" for="billing_state">County</label>
                                            <input type="text" id="billing_state" name="billing_state" placeholder="State / County" value="" class="input-text ">
                                        </p>
                                        <div class="clear"></div>

                                        <p id="billing_email_field" class="form-row form-row-first validate-required validate-email">
                                            <label class="" for="billing_email">Email Address
                                                <abbr title="required" class="required">*</abbr>
                                            </label>
                                            <input type="text" value="" placeholder="" id="billing_email" name="billing_email" class="input-text ">
                                        </p>

                                        <p id="billing_phone_field" class="form-row form-row-last validate-required validate-phone">
                                            <label class="" for="billing_phone">Phone
                                                <abbr title="required" class="required">*</abbr>
                                            </label>
                                            <input type="text" value="" placeholder="" id="billing_phone" name="billing_phone" class="input-text ">
                                        </p>
                                        <div class="clear"></div>


                                        <div class="create-account">
                                            <p>Create an account by entering the information below. If you are a returning customer
                                                please login at the top of the page.</p>
                                            <p id="account_password_field" class="form-row validate-required">
                                                <label class="" for="account_password">Account password
                                                    <abbr title="required" class="required">*</abbr>
                                                </label>
                                                <input type="password" value="" placeholder="Password" id="account_password" name="account_password" class="input-text">
                                            </p>
                                            <div class="clear"></div>
                                        </div>
                                        <div class="form-row place-order">
                                            <input type="submit" data-value="Save" value="Save" id="place_order" name="woocommerce_checkout_place_order" class="button alt">
                                        </div>
                                    </div>
                                
                            </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>