<!DOCTYPE html>
<html>
<head>
	<title>UPLOAD IMAGE</title>
</head>
<body>
	<form action="/upload" method="post" enctype="mutlpart/form-data">
		<input type="file" name="myfile">
		<input type="submit" name="submit" value="Upload">
	</form>
</body>
</html>